.background-lines {
  background-image: url("/images/patterns/diagonal-noise-light.png");
  overflow: hidden;
}

.background-noise-light {
  background-image: url("/images/patterns/broken-noise-light.png");
}

.noise-light {
  background-image: url("/images/patterns/noise-light.webp");
}

.background-dark {
  background-image: url("/images/patterns/noise-dark.png");
}
