.logo-svg{
  color: rgb(233 233 233);
  width: 450px;
}

@media screen and (max-width: 1000px) {
  .logo-svg{
    width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .logo-svg{
    width: 150px;
  }
}

.heading {
  background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0) 202.08%);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 800;
  color: transparent;
}

.experience-highlight {
  text-align: center;
  .year {
    
  }

  .title {
    // height: 75px;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
}