---
import Experience from '../../components/Experience.astro'
import SectionHeader from '../../components/headers/SectionHeader.astro'
import * as experiences from '../../content/experiences'
---

<!-- Experience -->
<section>
  <SectionHeader title="Experience" />

  <div class="mx-auto max-w-4xl px-6">
    <div class="flow-root">
      <ul role="list" class="-mb-8 space-y-8">
        <Experience
          logo="toki-labs-logo.png"
          role="Co-Founder and CTO"
          company="Toki Labs"
          fromDate="Nov 2022"
          toDate="Present">
          <experiences.TokiLabs />
        </Experience>
        <Experience
          logo="rocket-money-logo.png"
          role="Senior Software Architect"
          company="Rocket Money (formerly Truebill)"
          fromDate="Jan 2019"
          toDate="Dec 2021">
          <experiences.RocketMoney />
        </Experience>
        <Experience
          logo="crossover-white-logo.jpeg"
          role="Product Chief Architect"
          company="Crossover"
          fromDate="Jan 2018"
          toDate="Dec 2019">
          <experiences.Crossover />
        </Experience>
        <Experience logo="doare-logo.jpeg" role="CTO" company="Doare" fromDate="Aug 2017" toDate="Feb 2018">
          <experiences.Doare />
        </Experience>
        <Experience
          logo="cleanify-logo.jpeg"
          role="Chief Software Architect"
          company="Cleanify"
          fromDate="Apr 2016"
          toDate="Aug 2017">
          <experiences.Cleanify />
        </Experience>
        <Experience
          logo="softo-logo.jpeg"
          role="Chief Software Architect and Engineering Manager"
          company="Softo"
          fromDate="Mar 2013"
          toDate="Jan 2014">
          <experiences.Softo />
        </Experience>
        <Experience
          logo="camiseteria-red-logo.webp"
          role="Software Architect"
          company="Camiseteria.com"
          fromDate="Aug 2010"
          toDate="Feb 2013">
          <experiences.Camiseteria />
        </Experience>
      </ul>
    </div>
  </div>
</section>
