// | -------------------------------------------------------------
// | Container
// | -------------------------------------------------------------

@use "breakpoint" as *;

.container {
  margin: 0 auto;
  padding: 0 calc(2rem / 2);
  max-width: 100%;

  @include breakpoint(medium) {
    padding: 0 2rem;
  }

  @include breakpoint(large) {
    padding: 0 calc(2rem / 2);
    max-width: 1200px;
  }

  &.stretch {
    max-width: 100%;
  }
}

#titlePolo {
  font-size: 69px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: var(--font-color);
  line-height: 1.1;
}

#titlePolo > span:first-child{
  margin-left:-5px;
}

#titlePolo > span:not(:first-child){
  margin-left:-3px;
}

.subTitlePolo {
  font-size: 40px;
  font-family: "Noto Serif", serif;
  color: var(--font-color);
  line-height: 1.2;
  margin-top: 25px;
}

.subTitlePolo > .sf {
  font-size: 20px;
  font-family: "Noto Serif", serif;
  font-style: italic;
  margin-left: 5px;
}

.textPolo {
  font-size: 25px;
  font-family: "Rokkitt", serif;
  color: var(--font-color);
  line-height: 1.2;
}

.colorBlue {
  color: var(--marko-colorBlue)
}
.colorGreen {
color: var(--marko-colorGreen)
}
.colorYellow {
color: var(--marko-colorYellow)
}
.colorRed {
color: var(--marko-colorRed)
}
.colorPurple {
color: var(--marko-colorPurple)
}
.center {
  margin: 0 auto;
}