---
import SubExperience from '../../components/SubExperience.astro'

export const frontmatter = {
  title: 'Co-Founder and CTO',
  company: 'Toki Labs',
  startDate: '2022-11-01',
  tags: [
    'Business Strategy',
    'Optimization',
    'Git',
    'PostgreSQL',
    'Stripe (Software)',
    'Python (Programming Language)',
    'Database Management System (DBMS)',
    'Personal Development',
    'Technical Requirements',
    'Automation',
    'Team Building',
    'Defining Requirements',
    'Fundraising',
    'Prototyping',
  ],
}
---

<p>
  Toki Labs is a boutique software house and outsourcing firm which hand-picked projects based on their social impact.
</p>

<p>
  During my time here I aligned company values with the development strategy under budget constraints, requiring
  creative approaches to staffing, development strategy, and revenue optimization.
</p>

<br />

<h5>Key Achievements</h5>

<br />

<ul>
  <li>
    <strong>Staffing Innovation:</strong> Launched a free mentorship program attracting 50+ participants, leading to 5 full-time
    hires at low cost and facilitating 30+ participants to find software development jobs
  </li>
  <li>
    <strong>Development Optimization:</strong> Engineered Uisl, a proprietary UI specification language, resulting in 50%+
    reduction in specification time compared to industry standards
  </li>
  <li>
    <strong>Revenue Growth:</strong> Expanded optimization concepts to create CVA, a subscription-based Figma plugin for controlled
    generative design, reducing Design System creation time by 70%
  </li>
</ul>

<SubExperience logo="dreamflare-logo.png" role="Principal Engineer" company="Dreamflare.ai" descriptor="Client">
  <p>
    Dreamflare is the Netflix for AI-generated shorts, movies, and show. I joined the team to help them launch their
    platform.
  </p>

  <br />

  <h5>Key Achievements</h5>

  <br />

  <ul>
    <li>Implementation of automated UI generation from Figma using AI</li>
    <li>System-wide Architecture and Platform improvements for scalability and security</li>
    <li>Development process standardization</li>
  </ul>
</SubExperience>

<SubExperience logo="cva-logo.png" role="Engineering Team Lead" company="CVA" descriptor="Product">
  <p>CVA automates the generation of design variations in Figma and is the latest product from Toki Labs.</p>

  <br />

  <h5>Key Achievements</h5>

  <br />

  <ul>
    <li>Designed the architecture for the plugin and backend, including deploy infrastructure and automation</li>
    <li>Coordinated the open-sourcing of non-critical code as a Figma SDK</li>
    <li>Algorithm optimization to handle thousands of generations in under 3 seconds</li>
  </ul>
</SubExperience>
