---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Icon } from 'astro-icon/components'
import Experience from '../components/Experience.astro'
import RecommendationCard from '../components/RecommendationCard.astro'
import CardCloud from '../components/CardCloud.astro'
import SectionHeader from '../components/headers/SectionHeader.astro'
import '../assets/scss/pages/resume.scss'

import {
  Accordion,
  AccordionItem,
  Breadcrumbs,
  BreadcrumbsItem,
  Card,
  Media,
  Modal,
  Notification,
  Pagination,
} from 'accessible-astro-components'
import LastRoles from './sections/LastRoles.astro'
import Stats from '../components/Stats.astro'
import Experiences from './sections/Experiences.astro'
import Recommendations from './sections/Recommendations.astro'
---

<DefaultLayout>
  <section class="my-12">
    <div class="container">
      <div class="sm:pb-12 md:pb-4 lg:pb-16">
        <div class="bg-contentbackground mx-auto mt-8 max-w-7xl lg:bg-transparent lg:px-8">
          <div class="lg:grid lg:grid-cols-12">
            <div class="z-10 lg:col-span-4 lg:col-start-1 lg:row-start-1 lg:bg-transparent lg:py-16">
              <div class="mx-auto max-w-xs px-4 sm:px-6 md:max-w-md lg:p-0">
                <img
                  decoding="async"
                  loading="lazy"
                  class="aspect-[1/1] w-full max-w-md -rotate-3 rounded-3xl object-cover object-center shadow-2xl"
                  src="/images/about.webp"
                  alt="a pencil illustration of myself generated using AI"
                />
              </div>
            </div>

            <div
              class="lg:bg-contentbackground relative rounded-3xl lg:col-span-10 lg:col-start-3 lg:row-start-1 lg:grid lg:grid-cols-10 lg:items-center">
              <div
                class="pointer-events-none absolute inset-0 hidden overflow-hidden rounded-3xl lg:block"
                aria-hidden="true">
                <svg
                  class="absolute bottom-full left-full -translate-x-2/3 translate-y-1/3 transform opacity-20 xl:bottom-auto xl:top-0 xl:translate-y-0"
                  width="404"
                  height="384"
                  fill="none"
                  viewBox="0 0 404 384"
                  aria-hidden="true">
                  <defs>
                    <pattern
                      id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d"
                      x="0"
                      y="0"
                      width="20"
                      height="20"
                      patternUnits="userSpaceOnUse">
                      <rect x="0" y="0" width="4" height="4" class="text-accent-500" fill="currentColor"></rect>
                    </pattern>
                  </defs>
                  <rect width="404" height="384" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)"></rect>
                </svg>
                <svg
                  class="absolute top-full -translate-x-1/3 -translate-y-1/3 transform opacity-40 xl:-translate-y-1/2"
                  width="404"
                  height="384"
                  fill="none"
                  viewBox="0 0 404 384"
                  aria-hidden="true">
                  <defs>
                    <pattern
                      id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d"
                      x="0"
                      y="0"
                      width="20"
                      height="20"
                      patternUnits="userSpaceOnUse">
                      <rect x="0" y="0" width="4" height="4" class="text-accent-500" fill="currentColor"></rect>
                    </pattern>
                  </defs>
                  <rect width="404" height="384" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)"></rect>
                </svg>
              </div>

              <div
                class="mx-auto space-y-6 pb-0 pt-12 sm:max-w-3xl sm:py-16 sm:max-md:text-center lg:col-span-7 lg:col-start-4 lg:max-w-none">
                <div>
                  <h2
                    id="about-heading"
                    class="mb-1 text-4xl font-bold tracking-tighter sm:text-5xl sm:max-md:text-center">
                    Hey, there! I'm Saulo.
                  </h2>
                  <span class="mt-1 block text-2xl leading-normal tracking-wide">
                    I hope you are having <nobr>a wonderful day :)</nobr>
                  </span>
                </div>
                <p class="text-primary-300 md:text-primary-100 text-lg">
                  I love programming since I was a little kid. One of my earliest memories is of the excitement I felt
                  when I received my first computer. I spent hours playing with it.
                </p>
                <p>
                  I was fascinated by the endless possibilities of creating and building with code, and I spent hours
                  every day learning and experimenting. I started by teaching myself basic coding languages, and before
                  long, I was building my own simple programs and games.
                </p>
                <Stats
                  stats={{
                    'Years coding professionally': '21',
                    'Repositories on Github': '111',
                  }}
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <LastRoles />
  <section class="my-12">
    <div class="container">
      <div class="py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <h2 class="text-center text-4xl font-bold tracking-tight text-white sm:text-4xl">
            Open-source Projects I’ve Contributed To
          </h2>
          <div
            class="mx-auto mt-10 grid max-w-lg grid-cols-3 grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
            <a href="https://storybook.js.org" target="_blank">
              <svg
                width="158"
                class="m-auto"
                viewBox="0 0 100 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                role="presentation"
                ><path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M26.64 15.831a8.784 8.784 0 0 1-2.464-.344c-.79-.229-1.445-.546-1.968-.952l.8-1.776c1.088.758 2.31 1.136 3.664 1.136.704 0 1.245-.114 1.624-.344.379-.229.568-.546.568-.952 0-.362-.173-.645-.52-.848-.347-.202-.963-.4-1.848-.592-.992-.202-1.784-.448-2.376-.736-.592-.288-1.024-.642-1.296-1.064-.272-.42-.408-.94-.408-1.56 0-.682.19-1.29.568-1.824.379-.533.91-.952 1.592-1.256.683-.304 1.472-.456 2.368-.456.8 0 1.57.118 2.312.352.741.235 1.33.55 1.768.944l-.8 1.776C29.189 6.578 28.101 6.2 26.96 6.2c-.65 0-1.163.126-1.536.376-.373.251-.56.595-.56 1.032 0 .256.072.467.216.632.144.166.384.312.72.44.336.128.813.262 1.432.4 1.45.32 2.493.731 3.128 1.232.635.502.952 1.195.952 2.08 0 1.067-.41 1.907-1.232 2.52-.821.614-1.968.92-3.44.92Zm10.464-1.792c.245 0 .502-.016.768-.048l-.128 1.76a6.78 6.78 0 0 1-.928.064c-1.195 0-2.067-.261-2.616-.784-.55-.522-.824-1.317-.824-2.384V9.64h-1.488V7.831h1.488V5.527h2.416v2.304h1.968V9.64h-1.968v2.992c0 .939.438 1.408 1.312 1.408Zm5.616 1.776c-.832 0-1.563-.168-2.192-.504a3.534 3.534 0 0 1-1.456-1.424c-.341-.613-.512-1.336-.512-2.168 0-.832.17-1.554.512-2.168a3.484 3.484 0 0 1 1.456-1.416c.63-.33 1.36-.496 2.192-.496.832 0 1.563.166 2.192.496.63.331 1.115.803 1.456 1.416.341.614.512 1.336.512 2.168 0 .832-.17 1.555-.512 2.168a3.534 3.534 0 0 1-1.456 1.424c-.63.336-1.36.504-2.192.504Zm0-1.84c1.173 0 1.76-.752 1.76-2.256 0-.757-.152-1.322-.456-1.696-.304-.373-.739-.56-1.304-.56-1.173 0-1.76.752-1.76 2.256 0 1.504.587 2.256 1.76 2.256Zm10.848-4.351-1.36.144c-.672.064-1.146.253-1.424.567-.277.315-.416.734-.416 1.256v4.097h-2.416V7.832h2.32V9.16c.395-.907 1.21-1.403 2.448-1.488l.704-.048.144 2Zm7.02-1.777h2.368l-4.736 10.72h-2.448l1.504-3.312-3.232-7.408h2.512l1.984 4.992 2.048-4.992Zm7.968-.208c.683 0 1.285.166 1.808.496.523.331.93.803 1.224 1.416.293.614.44 1.326.44 2.136 0 .811-.147 1.529-.44 2.152-.293.624-.704 1.11-1.232 1.457a3.207 3.207 0 0 1-1.8.52 3.121 3.121 0 0 1-1.472-.345 2.45 2.45 0 0 1-1.008-.951v1.168h-2.384V4.408h2.416v4.48a2.388 2.388 0 0 1 1-.92 3.16 3.16 0 0 1 1.448-.329Zm-.704 6.337c.566 0 1.003-.2 1.312-.6.31-.4.464-.963.464-1.688 0-.715-.154-1.262-.464-1.64-.31-.38-.746-.569-1.312-.569-.565 0-1.002.195-1.312.585-.31.389-.464.94-.464 1.655 0 .726.155 1.283.464 1.673.31.389.747.584 1.312.584Zm9.424 1.84c-.832 0-1.563-.169-2.192-.505a3.535 3.535 0 0 1-1.456-1.424c-.341-.613-.512-1.336-.512-2.168 0-.832.17-1.554.512-2.168a3.484 3.484 0 0 1 1.456-1.416c.63-.33 1.36-.496 2.192-.496.832 0 1.563.166 2.192.496.63.331 1.115.803 1.456 1.416.341.614.512 1.336.512 2.168 0 .832-.17 1.555-.512 2.168a3.535 3.535 0 0 1-1.456 1.424c-.63.336-1.36.504-2.192.504Zm0-1.84c1.174 0 1.76-.753 1.76-2.257 0-.757-.152-1.322-.456-1.696-.304-.373-.739-.56-1.304-.56-1.173 0-1.76.752-1.76 2.256 0 1.504.587 2.256 1.76 2.256Zm9.008 1.84c-.832 0-1.563-.169-2.192-.505a3.534 3.534 0 0 1-1.456-1.424c-.341-.613-.512-1.336-.512-2.168 0-.832.17-1.554.512-2.168a3.484 3.484 0 0 1 1.456-1.416c.63-.33 1.36-.496 2.192-.496.832 0 1.563.166 2.192.496.63.331 1.115.803 1.456 1.416.341.614.512 1.336.512 2.168 0 .832-.17 1.555-.512 2.168a3.534 3.534 0 0 1-1.456 1.424c-.63.336-1.36.504-2.192.504Zm0-1.84c1.173 0 1.76-.753 1.76-2.257 0-.757-.152-1.322-.456-1.696-.304-.373-.739-.56-1.304-.56-1.173 0-1.76.752-1.76 2.256 0 1.504.587 2.256 1.76 2.256ZM100 15.686h-2.96l-3.008-3.503v3.504h-2.416V4.408h2.416v6.783l2.896-3.344h2.88l-3.296 3.744L100 15.689Z"
                  fill="#fff"></path><path
                  d="M.62 18.43 0 1.92A1.006 1.006 0 0 1 .944.88L14.984.002a1.005 1.005 0 0 1 1.069 1.004v17.989a1.006 1.006 0 0 1-1.051 1.004L1.58 19.396a1.006 1.006 0 0 1-.96-.967Z"
                  fill="#FF4785"></path><path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="m13.88.071-1.932.12-.094 2.267a.15.15 0 0 0 .24.126l.88-.668.744.586a.15.15 0 0 0 .243-.123l-.08-2.308Zm-1.504 7.59c-.353.275-2.989.462-2.989.071.056-1.493-.612-1.558-.984-1.558-.352 0-.946.106-.946.906 0 .815.868 1.275 1.887 1.815 1.447.767 3.2 1.696 3.2 4.032 0 2.24-1.82 3.476-4.14 3.476-2.395 0-4.488-.969-4.252-4.328.093-.394 3.138-.3 3.138 0-.038 1.386.278 1.794 1.076 1.794.613 0 .891-.338.891-.906 0-.861-.904-1.369-1.945-1.953-1.409-.791-3.067-1.722-3.067-3.859 0-2.132 1.466-3.554 4.084-3.554 2.618 0 4.047 1.4 4.047 4.064Z"
                  fill="#fff"></path></svg
              >
            </a>
            <a href="https://sass-lang.com/" target="_blank">
              <svg height="48" class="m-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 384"
                ><path
                  fill="#CF649A"
                  d="M440.6 220.6c-17.9.1-33.4 4.4-46.4 10.8-4.8-9.5-9.6-17.8-10.4-24-.9-7.2-2-11.6-.9-20.2s6.1-20.8 6.1-21.8c-.1-.9-1.1-5.3-11.4-5.4-10.3-.1-19.2 2-20.2 4.7s-3 8.9-4.3 15.3c-1.8 9.4-20.6 42.7-31.3 60.2-3.5-6.8-6.5-12.8-7.1-17.6-.9-7.2-2-11.6-.9-20.2s6.1-20.8 6.1-21.8c-.1-.9-1.1-5.3-11.4-5.4-10.3-.1-19.2 2-20.2 4.7s-2.1 9.1-4.3 15.3c-2.1 6.2-27.1 61.8-33.6 76.3-3.3 7.4-6.2 13.3-8.3 17.3s-.1.3-.3.7c-1.8 3.4-2.8 5.3-2.8 5.3v.1c-1.4 2.5-2.9 4.9-3.6 4.9-.5 0-1.5-6.7.2-15.9 3.7-19.3 12.7-49.4 12.6-50.5 0-.5 1.7-5.8-5.8-8.5-7.3-2.7-9.9 1.8-10.5 1.8-.6 0-1.1 1.6-1.1 1.6s8.1-33.9-15.5-33.9c-14.8 0-35.2 16.1-45.3 30.8-6.4 3.5-20 10.9-34.4 18.8-5.5 3-11.2 6.2-16.6 9.1l-1.1-1.2c-28.6-30.5-81.5-52.1-79.3-93.1.8-14.9 6-54.2 101.6-101.8 78.3-39 141-28.3 151.9-4.5 15.5 34-33.5 97.2-114.9 106.3-31 3.5-47.3-8.5-51.4-13-4.3-4.7-4.9-4.9-6.5-4-2.6 1.4-1 5.6 0 8.1 2.4 6.3 12.4 17.5 29.4 23.1 14.9 4.9 51.3 7.6 95.3-9.4 49.3-19.1 87.8-72.1 76.5-116.4-11.5-45.1-86.3-59.9-157-34.8-42.1 15-87.7 38.4-120.5 69.1-39 36.4-45.2 68.2-42.6 81.4 9.1 47.1 74 77.8 100 100.5-1.3.7-2.5 1.4-3.6 2-13 6.4-62.5 32.3-74.9 59.7-14 31 2.2 53.3 13 56.3 33.4 9.3 67.6-7.4 86.1-34.9 18.4-27.5 16.2-63.2 7.7-79.5l-.3-.6 10.2-6c6.6-3.9 13.1-7.5 18.8-10.6-3.2 8.7-5.5 19-6.7 34-1.4 17.6 5.8 40.4 15.3 49.4 4.2 3.9 9.2 4 12.3 4 11 0 16-9.1 21.5-20 6.8-13.3 12.8-28.7 12.8-28.7s-7.5 41.7 13 41.7c7.5 0 15-9.7 18.4-14.7v.1s.2-.3.6-1c.8-1.2 1.2-1.9 1.2-1.9v-.2c3-5.2 9.7-17.1 19.7-36.8 12.9-25.4 25.3-57.2 25.3-57.2s1.2 7.8 4.9 20.6c2.2 7.6 7 15.9 10.7 24-3 4.2-4.8 6.6-4.8 6.6l.1.1c-2.4 3.2-5.1 6.6-7.9 10-10.2 12.2-22.4 26.1-24 30.1-1.9 4.7-1.5 8.2 2.2 11 2.7 2 7.5 2.4 12.6 2 9.2-.6 15.6-2.9 18.8-4.3 5-1.8 10.7-4.5 16.2-8.5 10-7.4 16.1-17.9 15.5-31.9-.3-7.7-2.8-15.3-5.9-22.5.9-1.3 1.8-2.6 2.7-4 15.8-23.1 28-48.5 28-48.5s1.2 7.8 4.9 20.6c1.9 6.5 5.7 13.6 9.1 20.6-14.8 12.1-24.1 26.1-27.3 35.3-5.9 17-1.3 24.7 7.4 26.5 3.9.8 9.5-1 13.7-2.8 5.2-1.7 11.5-4.6 17.3-8.9 10-7.4 19.6-17.7 19.1-31.6-.3-6.4-2-12.7-4.3-18.7 12.6-5.2 28.9-8.2 49.6-5.7 44.5 5.2 53.3 33 51.6 44.6-1.7 11.6-11 18-14.1 20-3.1 1.9-4.1 2.6-3.8 4 .4 2.1 1.8 2 4.5 1.6 3.7-.6 23.4-9.5 24.2-30.9 1.2-27.5-24.9-57.5-71.2-57.2zm-343.2 115.7c-14.7 16.1-35.4 22.2-44.2 17-9.5-5.5-5.8-29.2 12.3-46.3 11-10.4 25.3-20 34.7-25.9 2.1-1.3 5.3-3.2 9.1-5.5.6-.4 1-.6 1-.6.7-.4 1.5-.9 2.3-1.4 6.7 24.4.3 45.8-15.2 62.7zm107.5-73.1c-5.1 12.5-15.9 44.6-22.4 42.8-5.6-1.5-9-25.8-1.1-49.8 4-12.1 12.5-26.5 17.5-32.1 8.1-9 16.9-12 19.1-8.3 2.6 4.8-9.9 39.6-13.1 47.4zm88.7 42.4c-2.2 1.1-4.2 1.9-5.1 1.3-.7-.4.9-1.9.9-1.9s11.1-11.9 15.5-17.4c2.5-3.2 5.5-6.9 8.7-11.1v1.2c0 14.4-13.8 24-20 27.9zm68.4-15.6c-1.6-1.2-1.4-4.9 4-16.5 2.1-4.6 6.9-12.3 15.2-19.6 1 3 1.6 5.9 1.5 8.6-.1 18-12.9 24.7-20.7 27.5z"
                ></path></svg
              >
            </a>
            <a href="https://markojs.com" target="_blank">
              <svg height="48" class="m-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2560 1400"
                ><path fill="url(#a)" d="M427 0h361L361 697l427 697H427L0 698z"></path><linearGradient
                  id="a"
                  x2="0"
                  y2="1"
                  ><stop offset="0" stop-color="hsl(181, 96.3%, 38.8%)"></stop><stop
                    offset=".25"
                    stop-color="hsl(186, 94.9%, 46.1%)"></stop><stop offset=".5" stop-color="hsl(191, 93.3%, 60.8%)"
                  ></stop><stop offset=".5" stop-color="hsl(195, 94.3%, 50.8%)"></stop><stop
                    offset=".75"
                    stop-color="hsl(199, 95.9%, 48.0%)"></stop><stop offset="1" stop-color="hsl(203, 94.9%, 38.6%)"
                  ></stop></linearGradient
                ><path fill="url(#b)" d="M854 697h361L788 0H427z"></path><linearGradient id="b" x2="0" y2="1"
                  ><stop offset="0" stop-color="hsl(170, 80.3%, 50.8%)"></stop><stop
                    offset=".5"
                    stop-color="hsl(161, 79.1%, 47.3%)"></stop><stop offset="1" stop-color="hsl(157, 78.1%, 38.9%)"
                  ></stop></linearGradient
                ><path fill="url(#c)" d="M1281 0h361l-427 697H854z"></path><linearGradient id="c" x2="0" y2="1"
                  ><stop offset="0" stop-color="hsl(86, 95.9%, 37.1%)"></stop><stop
                    offset=".5"
                    stop-color="hsl(86, 91.9%, 45.0%)"></stop><stop offset="1" stop-color="hsl(90, 82.1%, 51.2%)"
                  ></stop></linearGradient
                ><path fill="url(#d)" d="M1642 0h-361l428 697-428 697h361l428-697z"></path><linearGradient
                  id="d"
                  x2="0"
                  y2="1"
                  ><stop offset="0" stop-color="hsl(55, 99.9%, 53.1%)"></stop><stop
                    offset=".25"
                    stop-color="hsl(51, 99.9%, 50.0%)"></stop><stop offset=".5" stop-color="hsl(47, 99.2%, 49.8%)"
                  ></stop><stop offset=".5" stop-color="hsl(39, 99.9%, 50.0%)"></stop><stop
                    offset=".75"
                    stop-color="hsl(35, 99.9%, 50.0%)"></stop><stop offset="1" stop-color="hsl(29, 99.9%, 46.9%)"
                  ></stop></linearGradient
                ><path fill="url(#e)" d="M2132 0h-361l427 697-428 697h361l428-697z"></path><linearGradient
                  id="e"
                  x2="0"
                  y2="1"
                  ><stop offset="0" stop-color="hsl(352, 99.9%, 62.9%)"></stop><stop
                    offset=".25"
                    stop-color="hsl(345, 90.3%, 51.8%)"></stop><stop offset=".5" stop-color="hsl(341, 88.3%, 51.8%)"
                  ></stop><stop offset=".5" stop-color="hsl(336, 80.9%, 45.4%)"></stop><stop
                    offset=".75"
                    stop-color="hsl(332, 80.3%, 44.8%)"></stop><stop offset="1.1" stop-color="hsl(328, 78.1%, 35.9%)"
                  ></stop></linearGradient
                ></svg
              >
            </a>
            <a href="https://stylus-lang.com/" target="_blank">
              <svg
                width="103"
                class="m-auto"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 256 244"
                preserveAspectRatio="xMinYMin meet"
                ><path
                  d="M32.167 98.573c2.9 0 5.246.396 7.028 1.19 1.782.792 2.672 1.78 2.672 2.97 0 1.453-.366 3.101-1.09 4.948-.727 1.848-1.42 3.364-2.079 4.552-.265.265-.593.297-.989.1-.396-.199-.595-.56-.595-1.089.397-.921.595-2.242.595-3.96 0-1.846-.495-3.366-1.485-4.552-.989-1.188-2.344-1.781-4.057-1.781-2.246 0-4.058.692-5.444 2.078-1.385 1.385-2.078 3.334-2.078 5.837 0 2.114.559 4.127 1.682 6.038a69.666 69.666 0 0 0 3.761 5.742 56.847 56.847 0 0 1 3.86 6.137c1.188 2.178 1.782 4.652 1.782 7.423 0 4.749-1.914 8.444-5.74 11.082-3.828 2.643-8.843 3.96-15.043 3.96-4.487 0-8.017-.725-10.59-2.177-2.575-1.45-3.86-3.032-3.86-4.75 0-.525.197-1.253.593-2.178.396-.921.922-1.91 1.585-2.97a45.614 45.614 0 0 1 2.178-3.168c.791-1.054 1.647-1.91 2.572-2.57.396-.265.759-.201 1.09.196.328.396.362.792.1 1.188-.793.79-1.385 1.617-1.783 2.475-.396.857-.594 2.014-.594 3.463 0 2.374.792 4.324 2.377 5.837 1.583 1.52 3.627 2.278 6.135 2.278 3.43 0 6.102-.957 8.017-2.87 1.912-1.911 2.87-4.256 2.87-7.028 0-2.506-.562-4.849-1.683-7.026a76.243 76.243 0 0 0-3.661-6.335 83.818 83.818 0 0 1-3.663-6.237 14.104 14.104 0 0 1-1.682-6.73c0-3.428 1.45-6.3 4.355-8.608 2.899-2.304 7.188-3.465 12.864-3.465zM86.203 99.566c.66.264.924.629.794 1.09-.135.463-.727.824-1.783 1.088-1.98 0-4.255.068-6.828.197-2.575.132-5.315.332-8.215.593-2.643 6.469-4.819 12.767-6.533 18.905-1.717 6.135-2.572 11.118-2.572 14.945 0 4.485 1.712 6.727 5.145 6.727 3.43 0 7.257-2.967 11.483-8.904.394-.265.757-.265 1.086 0 .329.264.428.724.299 1.385a35.851 35.851 0 0 1-8.512 9.601c-3.433 2.706-6.798 4.056-10.095 4.056-3.434 0-5.973-.82-7.621-2.474-1.651-1.65-2.475-3.925-2.475-6.83 0-3.824.922-9.105 2.77-15.835 1.848-6.73 4.223-13.588 7.128-20.586-3.434.396-6.6.929-9.501 1.585-.662-.128-.828-.46-.496-.99.328-.525.922-1.089 1.782-1.682.855-.596 1.88-1.121 3.067-1.585 1.187-.46 2.309-.692 3.365-.692h1.584c.527 0 1.056-.065 1.584-.197a214.313 214.313 0 0 1 5.344-11.086c1.847-3.564 3.693-6.794 5.543-9.7.79-.922 1.88-1.747 3.265-2.475 1.385-.722 2.738-1.285 4.057-1.682 1.318-.396 2.407-.625 3.268-.693.856-.064 1.217.168 1.09.693-2.247 3.434-4.454 7.259-6.633 11.481a206.783 206.783 0 0 0-6.235 13.262c2.506-.13 5.048-.197 7.62-.197h7.225z"
                  fill="#606060"></path><path
                  d="M206.299.528c1.979 0 3.593.496 4.85 1.485 1.251.989 2.109 2.31 2.572 3.96.462 1.649.526 3.53.198 5.641-.33 2.113-1.088 4.224-2.276 6.334-.265.264-.594.264-.99 0-.395-.265-.66-.593-.791-.99.263-1.584-.296-2.902-1.683-3.959-1.385-1.054-3.532-1.584-6.433-1.584-5.412 0-10.855 2.013-16.33 6.038-5.477 4.027-10.789 9.34-15.934 15.934-5.147 6.6-9.965 14.19-14.45 22.765a215.382 215.382 0 0 0-11.68 26.524c-3.298 9.105-5.907 18.145-7.818 27.118-1.913 8.976-2.868 17.155-2.868 24.547 0 3.956 1.12 5.937 3.365 5.937 1.583 0 3.133-.66 4.65-1.981 1.516-1.318 3.268-3.296 5.247-5.938.395-.26.758-.228 1.087.1.329.333.428.76.299 1.285-2.643 3.96-5.741 7.259-9.305 9.897-3.562 2.642-6.798 3.96-9.699 3.96-2.508 0-4.255-.726-5.244-2.179-.989-1.45-1.485-3.295-1.485-5.54 0-6.203 1.317-13.958 3.96-23.258 2.638-9.304 6.165-19.134 10.59-29.495 4.42-10.358 9.533-20.684 15.34-30.977 5.806-10.293 11.844-19.562 18.113-27.81 6.266-8.247 12.57-14.945 18.903-20.093C194.817 3.1 200.755.528 206.3.528zM30.55 243.76c-1.98 0-3.595-.495-4.851-1.484-1.252-.989-2.11-2.31-2.573-3.96-.46-1.651-.526-3.53-.198-5.641.332-2.113 1.089-4.223 2.276-6.334.266-.266.594-.266.99 0 .395.262.66.593.791.99-.262 1.584.297 2.902 1.683 3.959 1.385 1.053 3.531 1.582 6.433 1.582 5.412 0 10.856-2.013 16.33-6.038 5.477-4.023 10.79-9.335 15.936-15.931 5.146-6.6 9.964-14.188 14.45-22.765a215.31 215.31 0 0 0 11.677-26.525c3.3-9.105 5.908-18.144 7.82-27.118 1.913-8.975 2.868-17.155 2.868-24.545 0-3.96-1.12-5.938-3.365-5.938-1.584 0-3.134.657-4.65 1.978-1.516 1.317-3.268 3.3-5.247 5.94-.395.26-.757.228-1.087-.1-.328-.332-.427-.761-.298-1.289 2.642-3.956 5.74-7.258 9.304-9.897 3.562-2.638 6.797-3.956 9.699-3.956 2.508 0 4.255.722 5.244 2.175.99 1.453 1.486 3.3 1.486 5.545 0 6.202-1.318 13.953-3.96 23.258-2.638 9.304-6.166 19.133-10.59 29.494-4.42 10.358-9.534 20.684-15.34 30.977-5.807 10.293-11.844 19.562-18.113 27.81-6.266 8.247-12.57 14.946-18.904 20.091-6.331 5.148-12.269 7.722-17.811 7.722z"
                  fill="#B3D107"></path><path
                  d="M164.264 149.248c-5.543 0-8.314-3.035-8.314-9.105 0-2.11.228-4.552.692-7.322.461-2.774 1.19-5.64 2.178-8.611.99-2.971 2.142-5.97 3.463-9.009a55.473 55.473 0 0 1 4.751-8.707 65.65 65.65 0 0 0-4.155 2.87 33.104 33.104 0 0 0-3.564 3.067c-.396.268-.76.168-1.089-.296-.33-.461-.363-.89-.099-1.286 2.243-2.377 5.444-4.815 9.601-7.326 4.155-2.503 8.146-4.485 11.976-5.937.659 0 1.153.167 1.484.496.328.332.363.76.1 1.285a75.925 75.925 0 0 0-10.195 18.013c-2.573 6.468-3.86 12.738-3.86 18.805 0 3.83 1.19 5.74 3.564 5.74 1.713 0 3.825-1.154 6.333-3.463 2.507-2.31 5.148-5.344 7.92-9.107 2.77-3.76 5.572-8.016 8.412-12.765a192.034 192.034 0 0 0 7.82-14.453c.394-.789 1.55-1.582 3.462-2.374 1.913-.794 3.86-1.19 5.84-1.19s2.573.532 1.782 1.586a190.54 190.54 0 0 0-4.85 9.6 73.37 73.37 0 0 0-3.463 8.808 58.564 58.564 0 0 0-2.079 8.807c-.465 2.971-.693 6.235-.693 9.797 0 4.227 1.12 6.334 3.366 6.334 2.242 0 4.75-1.978 7.521-5.938.397-.26.793-.26 1.187 0 .397.268.527.665.397 1.189-2.245 3.431-4.72 6.037-7.423 7.82-2.706 1.78-5.18 2.67-7.422 2.67-5.544 0-8.314-3.232-8.314-9.698 0-6.73 1.186-13.393 3.562-19.994-5.016 9.105-10.293 16.331-15.834 21.676-5.545 5.348-10.232 8.018-14.057 8.018zM246.011 98.573c2.9 0 5.247.396 7.028 1.19 1.782.792 2.672 1.78 2.672 2.97 0 1.453-.365 3.101-1.088 4.948-.729 1.848-1.42 3.364-2.08 4.552-.266.265-.593.297-.99.1-.395-.199-.593-.56-.593-1.089.396-.921.594-2.242.594-3.96 0-1.846-.494-3.366-1.484-4.552-.99-1.188-2.344-1.781-4.058-1.781-2.244 0-4.057.692-5.443 2.078-1.387 1.386-2.078 3.334-2.078 5.837 0 2.114.559 4.127 1.682 6.038a69.666 69.666 0 0 0 3.761 5.742 56.847 56.847 0 0 1 3.86 6.137c1.188 2.178 1.782 4.652 1.782 7.423 0 4.749-1.914 8.444-5.74 11.082-3.83 2.643-8.844 3.96-15.044 3.96-4.489 0-8.017-.725-10.59-2.177-2.575-1.45-3.86-3.032-3.86-4.75 0-.525.197-1.253.593-2.178.396-.921.921-1.91 1.584-2.97a45.589 45.589 0 0 1 2.177-3.168c.791-1.054 1.649-1.91 2.574-2.57.396-.265.758-.201 1.088.196.328.396.363.792.1 1.188-.792.79-1.385 1.617-1.782 2.475-.396.857-.594 2.014-.594 3.463 0 2.374.792 4.324 2.376 5.837 1.584 1.52 3.627 2.278 6.136 2.278 3.429 0 6.102-.957 8.018-2.87 1.91-1.911 2.869-4.256 2.869-7.028 0-2.506-.563-4.849-1.682-7.026a76.243 76.243 0 0 0-3.662-6.335 84.256 84.256 0 0 1-3.663-6.237 14.104 14.104 0 0 1-1.682-6.73c0-3.428 1.45-6.3 4.354-8.608 2.9-2.304 7.188-3.465 12.865-3.465z"
                  fill="#606060"></path></svg
              >
            </a>
            <a href="https://zagjs.com/" target="_blank">
              <svg height="48" class="m-auto" viewBox="0 0 377 133"
                ><path d="M243.68 67.7895L310.68 13.0287L265.18 112L369.68 7" stroke="#00C65E" stroke-width="19"
                ></path><path
                  d="M23.748 85.8405H62.052V102H1.67V86.705L39.043 46.7385L39.5085 47.47H0L9.18001 31.377H61.254V46.672L24.2135 86.5055L23.748 85.8405Z"
                  fill="#fff"></path><path
                  d="M92.9714 103.463C87.8287 103.463 83.2402 102.643 79.2059 101.003C75.2159 99.3622 72.0904 96.9903 69.8294 93.887C67.5684 90.7837 66.4379 87.0153 66.4379 82.582C66.4379 77.5723 67.8122 73.4937 70.5609 70.346C73.3095 67.1983 76.9449 64.8043 81.4669 63.164C86.0332 61.4793 90.9764 60.371 96.2964 59.839C104.055 59.0853 109.397 58.3982 112.323 57.7775C115.293 57.1568 116.778 56.0707 116.778 54.519C116.778 54.4747 116.778 54.4303 116.778 54.386C116.778 51.7703 115.515 49.7088 112.988 48.2015C110.505 46.6942 107.025 45.9405 102.547 45.9405C97.8037 45.9405 94.1684 46.805 91.6414 48.534C89.1587 50.2187 87.9174 52.8122 87.9174 56.3145H67.6349C67.6349 50.6398 69.1644 45.8518 72.2234 41.9505C75.3267 38.0492 79.5162 35.101 84.7919 33.106C90.0676 31.0667 96.0304 30.047 102.68 30.047C108.887 30.047 114.628 31.0002 119.904 32.9065C125.18 34.7685 129.413 37.5837 132.605 41.352C135.842 45.1203 137.46 49.9083 137.46 55.716C137.46 56.647 137.46 57.578 137.46 58.509C137.46 59.3957 137.46 60.3045 137.46 61.2355V86.2395C137.46 88.0572 137.504 89.8083 137.593 91.493C137.726 93.1333 137.992 94.6407 138.391 96.015C138.834 97.5667 139.388 98.8523 140.053 99.872C140.718 100.892 141.273 101.601 141.716 102H121.433C121.123 101.69 120.635 101.047 119.97 100.072C119.35 99.0962 118.818 97.9657 118.374 96.68C117.842 95.1283 117.443 93.5767 117.177 92.025C116.956 90.429 116.845 88.567 116.845 86.439L121.101 89.365C119.86 92.291 117.842 94.818 115.049 96.946C112.301 99.0297 109.02 100.648 105.207 101.8C101.439 102.909 97.3604 103.463 92.9714 103.463ZM98.4909 88.035C101.727 88.035 104.742 87.4587 107.535 86.306C110.372 85.109 112.678 83.247 114.451 80.72C116.224 78.193 117.111 74.8902 117.111 70.8115V63.696L122.231 68.6835C119.305 69.7475 115.914 70.6342 112.057 71.3435C108.244 72.0085 104.432 72.5405 100.619 72.9395C96.0969 73.3828 92.7054 74.1587 90.4444 75.267C88.2277 76.331 87.1194 78.1487 87.1194 80.72C87.1194 83.1583 88.0725 84.9982 89.9789 86.2395C91.8852 87.4365 94.7226 88.035 98.4909 88.035Z"
                  fill="#fff"></path><path
                  d="M197.966 93.621C202.31 94.0643 206.101 94.9067 209.337 96.148C212.618 97.345 215.167 99.1405 216.985 101.535C218.802 103.884 219.711 107.032 219.711 110.978C219.711 115.544 218.204 119.423 215.189 122.615C212.219 125.851 207.852 128.312 202.089 129.997C196.325 131.681 189.343 132.523 181.141 132.523C169.038 132.523 159.662 130.772 153.012 127.27C146.406 123.812 143.103 119.179 143.103 113.371C143.103 111.731 143.28 110.246 143.635 108.916C144.034 107.63 144.522 106.522 145.098 105.591L163.851 108.317C163.629 108.628 163.386 109.093 163.12 109.714C162.898 110.379 162.787 111.199 162.787 112.174C162.787 114.524 164.538 116.275 168.041 117.428C171.587 118.581 176.154 119.157 181.74 119.157C185.685 119.157 189.055 118.869 191.848 118.293C194.685 117.761 196.835 116.962 198.298 115.898C199.805 114.834 200.559 113.615 200.559 112.241C200.559 110.246 199.584 108.938 197.633 108.317C195.727 107.697 193.51 107.254 190.983 106.988L164.25 104.261C159.329 103.773 155.25 102.355 152.014 100.005C148.778 97.6553 147.16 94.4855 147.16 90.4955C147.16 88.0128 147.847 85.7518 149.221 83.7125C150.595 81.6288 152.169 79.922 153.943 78.592C155.716 77.2177 157.201 76.3532 158.398 75.9985L168.905 81.3185C168.063 81.4515 167.065 81.9835 165.913 82.9145C164.804 83.8455 164.25 84.9317 164.25 86.173C164.25 87.4143 164.871 88.4783 166.112 89.365C167.398 90.2517 169.725 90.8502 173.095 91.1605L197.966 93.621ZM204.948 31.377H223.103L215.721 58.509C214.347 63.6517 212.307 68.2402 209.603 72.2745C206.899 76.2645 203.286 79.4122 198.764 81.7175C194.286 84.0228 188.633 85.1755 181.806 85.1755C174.624 85.1755 168.395 84.0672 163.12 81.8505C157.888 79.6338 153.854 76.5083 151.017 72.474C148.179 68.3953 146.761 63.5852 146.761 58.0435C146.761 52.5018 148.201 47.6252 151.083 43.4135C154.009 39.2018 157.977 35.9212 162.987 33.5715C168.041 31.2218 173.76 30.047 180.144 30.047C184.976 30.047 189.387 30.845 193.377 32.441C197.411 33.9927 200.648 36.0542 203.086 38.6255C205.569 41.1968 206.854 44.0342 206.943 47.1375L203.153 48.135L204.948 31.377ZM181.673 70.08C184.599 70.08 187.17 69.6145 189.387 68.6835C191.604 67.7082 193.333 66.3117 194.574 64.494C195.815 62.632 196.436 60.3932 196.436 57.7775C196.436 55.2062 195.815 53.0117 194.574 51.194C193.333 49.3763 191.604 47.9798 189.387 47.0045C187.17 46.0292 184.599 45.5415 181.673 45.5415C178.88 45.5415 176.353 46.0513 174.092 47.071C171.875 48.0463 170.124 49.465 168.839 51.327C167.553 53.1447 166.91 55.3613 166.91 57.977C166.91 60.5483 167.531 62.7428 168.772 64.5605C170.013 66.3338 171.742 67.7082 173.959 68.6835C176.176 69.6145 178.747 70.08 181.673 70.08Z"
                  fill="#fff"></path></svg
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <Recommendations />

  <section class="my-12">
    <div class="px-6 sm:px-6 sm:py-32 lg:px-8">
      <div class="mx-auto text-center">
        <h2>
          Did we work together <br /> and you are happy about it?
        </h2>
        <div class="mt-16 flex items-center justify-center gap-x-6">
          <a
            href="https://www.linkedin.com/in/saulo-vallory/recommendation-add-edit/WRITE_RECOMMENDATION?profileFormEntryPoint=PROFILE_SECTION&trackingId=oEktExmGQge2hlRr3mC8CQ%3D%3D&desktopBackground=PROFILE_DETAIL_SCREEN&recipientProfileId=ACoAAAB9KD4B1Mg9AeDXkQr-uTugwjC5Hy3zYOY&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_recommendations_details%3BcDt18q%2F9ToSmPApFsqMPCQ%3D%3D"
            class="linkedin bg-patt-noise-light rounded-md bg-white px-8 py-4 font-semibold leading-10 text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white lg:text-xl"
            ><svg
              class="inline-block lg:mb-1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              id="linkedin-bug-medium"
              aria-hidden="true"
              role="none"
              data-supported-dps="24x24"
              fill="currentColor"
              width="24"
              height="24">
              <path
                d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"
              ></path>
            </svg>
            Write me a Recommendation</a
          >
        </div>
        <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-indigo-200">I'll be forever grateful 🙇🏻</p>
      </div>
    </div>
  </section>

  <Experiences />
</DefaultLayout>
