---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Icon } from 'astro-icon/components'
import Experience from '../components/Experience.astro'
import RecommendationCard from '../components/RecommendationCard.astro'
import CardCloud from '../components/CardCloud.astro'
import SectionHeader from '../components/headers/SectionHeader.astro'
import '../assets/scss/pages/resume.scss'

import {
  Accordion,
  AccordionItem,
  Breadcrumbs,
  BreadcrumbsItem,
  Card,
  Media,
  Modal,
  Notification,
  Pagination,
} from 'accessible-astro-components'
import LastRoles from './sections/LastRoles.astro'
---

<DefaultLayout title="Accessible Components">
  <section class="my-12">
    <div class="container">
      <div class="sm:pb-12 md:pb-4 lg:pb-16">
        <div class="bg-contentbackground mx-auto mt-8 max-w-7xl lg:bg-transparent lg:px-8">
          <div class="lg:grid lg:grid-cols-12">
            <div class="z-10 lg:col-span-4 lg:col-start-1 lg:row-start-1 lg:bg-transparent lg:py-16">
              <div class="mx-auto max-w-xs px-4 sm:px-6 md:max-w-md lg:p-0">
                <img
                  decoding="async"
                  loading="lazy"
                  class="aspect-[1/1] w-full max-w-md -rotate-3 rounded-3xl object-cover object-center shadow-2xl"
                  src="/images/about.webp"
                  alt="a pencil illustration of myself generated using AI"
                />
              </div>
            </div>

            <div
              class="lg:bg-contentbackground relative rounded-3xl lg:col-span-10 lg:col-start-3 lg:row-start-1 lg:grid lg:grid-cols-10 lg:items-center">
              <div
                class="pointer-events-none absolute inset-0 hidden overflow-hidden rounded-3xl lg:block"
                aria-hidden="true">
                <svg
                  class="absolute bottom-full left-full -translate-x-2/3 translate-y-1/3 transform opacity-20 xl:bottom-auto xl:top-0 xl:translate-y-0"
                  width="404"
                  height="384"
                  fill="none"
                  viewBox="0 0 404 384"
                  aria-hidden="true">
                  <defs>
                    <pattern
                      id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d"
                      x="0"
                      y="0"
                      width="20"
                      height="20"
                      patternUnits="userSpaceOnUse">
                      <rect x="0" y="0" width="4" height="4" class="text-accent-500" fill="currentColor"></rect>
                    </pattern>
                  </defs>
                  <rect width="404" height="384" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)"></rect>
                </svg>
                <svg
                  class="absolute top-full -translate-x-1/3 -translate-y-1/3 transform opacity-40 xl:-translate-y-1/2"
                  width="404"
                  height="384"
                  fill="none"
                  viewBox="0 0 404 384"
                  aria-hidden="true">
                  <defs>
                    <pattern
                      id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d"
                      x="0"
                      y="0"
                      width="20"
                      height="20"
                      patternUnits="userSpaceOnUse">
                      <rect x="0" y="0" width="4" height="4" class="text-accent-500" fill="currentColor"></rect>
                    </pattern>
                  </defs>
                  <rect width="404" height="384" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)"></rect>
                </svg>
              </div>

              <div class="mx-auto space-y-6 py-12 sm:max-w-3xl sm:py-16 lg:col-span-7 lg:col-start-4 lg:max-w-none">
                <h2
                  id="about-heading"
                  class="mb-1 text-4xl font-bold tracking-tighter sm:text-5xl sm:max-md:text-center">
                  Hey, there! I'm Saulo.
                  <br />
                </h2>
                <span class="text-2xl leading-normal tracking-wide sm:max-md:text-center">
                  I hope you are having <nobr>a wonderful day :)</nobr>
                </span>
                <p class="text-primary-300 md:text-primary-100 text-lg">
                  I love programming since I was a little kid. One of my earliest memories is of the excitement I felt
                  when I received my first computer. I spent hours playing with it.
                  <br />
                  <br />
                  I was fascinated by the endless possibilities of creating and building with code, and I spent hours every
                  day learning and experimenting. I started by teaching myself basic coding languages, and before long, I
                  was building my own simple programs and games.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <LastRoles />
  <section id="section_recommendations">
    <div class="relative isolate mx-auto max-w-7xl pt-24 sm:pt-32">
      <!-- #region: background -->
      <div
        class="absolute inset-x-0 top-1/2 -z-10 -translate-y-1/2 transform-gpu overflow-hidden opacity-30 blur-3xl"
        aria-hidden="true">
        <div
          class="ml-[max(50%,38rem)] aspect-[1313/771] w-[82.0625rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc]"
          style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
      </div>
      <div
        class="absolute inset-x-0 top-0 -z-10 flex transform-gpu overflow-hidden pt-32 opacity-25 blur-3xl sm:pt-40 xl:justify-end"
        aria-hidden="true">
        <div
          class="ml-[-22rem] aspect-[1313/771] w-[82.0625rem] flex-none origin-top-right rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] xl:ml-0 xl:mr-[calc(50%-12rem)]"
          style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
      </div>
      <!-- #endregion: background -->
      <div class="mx-auto px-6 lg:px-8">
        <SectionHeader title="Recommendations" subtitle="I have worked with some amazing people!" />

        <CardCloud class="mx-auto">
          <div>
            <!-- #region Card1 : Predrag -->
            <RecommendationCard
              img="Predrag_Maric.jpeg"
              name="Predrag Marić"
              linkedin="predrag-maric"
              role="Software Engineer | Engineering Manager | Co-Founder at Digi Klinci">
              <p>
                “Saulo and I worked on the same project, with him being the Product Chief Architect responsible for the
                overall product quality.
              </p>
              <p>
                He brought deep understanding of the whole product architecture (and Chute was a fairly complex
                product), and improved stability and predictability in some rough times after the product was acquired
                and imported into the new operating model.
              </p>

              <p>Saulo proved to be versatile and very reliable person to work with.”</p>
            </RecommendationCard>
            <!-- #endregion Card1 : Predrag -->

            <!-- Card 4 : Allan -->
            <RecommendationCard
              img="Allan_Denot.jpeg"
              name="Allan Denot"
              linkedin="denot"
              role="Co-founder at NX1.io and DNX Solutions">
              <p>
                “Saulo is a brillant developer, he always came to me with new ideas and techniques about web programming
                and software quality. Our exciting discussions about web projects and future of the web helped me to
                have a better understanding of this field. I can highlight his great javascript and object-oriented
                programming skills.”
              </p>
            </RecommendationCard>
          </div>
          <div>
            <!-- Card 2 : Sergio -->
            <RecommendationCard
              img="Sergio_Yates.jpeg"
              name="Sergio Yates"
              linkedin="sergioyates"
              role="Early stage investor | Venture capitalist | Board member | Occasional lecturer">
              <p>
                “I have worked with Saulo, during almost four years, by the time his company was at technology incubator
                of Instituto Gênesis - PUC Rio. Saulo is a very experience programmer that know how to create quality
                code that embraces clientes demands. He has all the attributes to became a great CTO. Besides that, he
                is a tech professional with business perspective.”
              </p>
            </RecommendationCard>

            <!-- Card 5 : Andrey -->
            <RecommendationCard
              img="Andrey_Asoskov.jpeg"
              name="Andrey Asoskov"
              linkedin="andrey-asoskov"
              role="Cloud Infrastructure Architect">
              “Saulo did a great job as an experienced product architect in a project that we worked together in. He
              managed to accomplish very difficult code migration tasks in a short period of time for a big and
              high-loaded system. And he did that without service disruption. I would definitely recommend him as a
              professional you can count on.”
            </RecommendationCard>

            <!-- Card 7 : Vicente -->
            <RecommendationCard
              img="Vicente_Campello.jpeg"
              name="Vicente Campello"
              linkedin="vcampello"
              role="Information Systems Team Leader at Pembrokeshire College">
              <p>
                “Saulo é o que chamo de geniozinho. Ele é o tipo de pessoa que não existe barreias e que além de ótimas
                ideias elas são sempre acima do tempo e inovadoras. Recomendo o Saulo a qualquer empresa que precise se
                renovar e de alguém que irá fazer o que muitos não conseguem ou irão demorar para isso.”
              </p>
            </RecommendationCard>
          </div>
          <div>
            <!-- Card 3 : Gabriel -->
            <RecommendationCard
              img="Gabriel_Reis.jpeg"
              name="Gabriel Reis"
              linkedin="https://www.linkedin.com/in/gabereis?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BgB99hce7R9KerW1LzltqPg%3D%3D"
              role="Technical Lead @ Yat Labs">
              <p>
                “I had the opportunity to work with Saulo at Cleanify, a startup based in the San Francisco Bay Area. He
                is very detail-oriented and incredibly knowledgeable on his field of work. Saulo spearheaded the
                initiative of migrating our codebase to Typescript and other newer architectures at the time. He was
                also a major contributor in the engineering team, translating the business needs into actionable and
                measurable tasks. Finally, Saulo is an extremely fun person to be around. We always had a blast working
                with him even in the face of the greatest adversities!”
              </p>
            </RecommendationCard>

            <!-- Card 6 : Sabrina -->
            <RecommendationCard
              img="Sabrina_Zanker.jpeg"
              name="Sabrina Zanker"
              linkedin="sabrina-zanker-5b20094"
              role="General Manager | Managing Director | Country Leader">
              <p>
                “Saulo is the kind of employee that you can count on for anything. He knows a little bit about
                marketing, business, strategie, (a lot) about IT, and will learn really fast any new matter that surfs
                over his face. He is true enterpreneur, a team worker and a risen leader.”
              </p>
            </RecommendationCard>
          </div>
        </CardCloud>
      </div>
    </div>
  </section>

  <!-- <div class="bg-indigo-700"> -->
  <div class="px-6 sm:px-6 sm:py-32 lg:px-8">
    <div class="mx-auto text-center">
      <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">
        Did we work together <br /> and you are happy about it?
      </h2>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href="https://www.linkedin.com/in/saulo-vallory/recommendation-add-edit/WRITE_RECOMMENDATION?profileFormEntryPoint=PROFILE_SECTION&trackingId=oEktExmGQge2hlRr3mC8CQ%3D%3D&desktopBackground=PROFILE_DETAIL_SCREEN&recipientProfileId=ACoAAAB9KD4B1Mg9AeDXkQr-uTugwjC5Hy3zYOY&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_recommendations_details%3BcDt18q%2F9ToSmPApFsqMPCQ%3D%3D"
          class="linkedin noise-light rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
          ><svg
            class="inline"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            id="linkedin-bug-medium"
            aria-hidden="true"
            role="none"
            data-supported-dps="24x24"
            fill="currentColor"
            width="24"
            height="24">
            <path
              d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"
            ></path>
          </svg> Write me a Recommendation <span aria-hidden="true">→</span></a
        >
      </div>
      <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-indigo-200">I'll be forever grateful 🙇🏻</p>
    </div>
  </div>

  <!-- Experience -->
  <section>
    <SectionHeader title="Experience" />

    <div class="mx-auto max-w-2xl px-6">
      <div class="flow-root">
        <ul role="list" class="-mb-8">
          <Experience
            logo="toki_labs_logo.jpeg"
            role="Founder and CTO"
            company="Toki Labs"
            fromDate="nov de 2022"
            toDate="current role"
            blue="Git">
            <p>
              We are a Software House that works differently. Instead of developing for clients, we seek and support
              partners. We are currently in private and are only taking new partnership projects via referral at the
              moment.
            </p>
          </Experience>
          <Experience
            logo="toki_network_logo.jpeg"
            role="VP de Estratégia"
            company="Toki Network"
            fromDate="ago de 2021"
            toDate="nov de 2022">
            <p>
              Toki is a network of people helping each other realize their dreams. We are a horizontal organization with
              projects that range from art studios to mobile app development. My role in Toki is to devise the best
              strategies so people can reach their goals. I do that by finding out where dreams overlap so people walk
              toward their goal together and, in that process, their journey accelerates one another.
            </p>
          </Experience>
          <Experience
            logo="Truebill_logo.jpeg"
            role="Senior Software Architect"
            company="Truebill - We're Hiring!"
            fromDate="jul de 2019"
            toDate="mar de 2021">
            <p>
              At Truebill we were all senior developers, so when developing new features we took charge of the whole
              process from designing the architecture to monitoring it after it was deployed to the app. Among other
              features, I was responsible for the Pay Advance, which integrated our app with Synapse and Stripe to give
              customers instant pay advances and automatically charge it back when they got their paychecks.
            </p>
          </Experience>
          <Experience
            logo="Aurea_Software_logo.jpeg"
            role="Product Chief Archictet"
            company="Aurea Software"
            fromDate="mar de 2018"
            toDate="abr de 2019">
            <p>
              As a PCA I was responsible for coordinating the development and SaaS operations for several products. For
              most of the time I worked there, that product was http://getchute.com/
            </p>
            <p>
              The most challenging thing I did while there was coordinating a team of about 40 people to deliver deep
              changes to the product in one month, due to Facebook removing the Instagram API.
            </p>
          </Experience>
          <Experience logo="Doare_logo.jpeg" role="CTO" company="Doare" fromDate="ago de 2017" toDate="fev de 2018">
            <p>
              I helped bring the Doare architecture to a whole new level. We migrated from a Cake PHP application to a
              microservices based architecture on Node. Given the complexity of the business requirements, most of the
              services were built using Domain Driven Design, Event Sourcing and CQRS.
            </p>
            <p>Among other technologies, we used: node, typescript, angular, hapi</p>
          </Experience>
          <Experience
            logo="Cleanify_logo.jpeg"
            role="Chief Software Architect"
            company="Cleanify"
            fromDate="abr de 2016"
            toDate="ago de 2017">
            <p>
              I was hired to help Cleanify migrate the legacy monolithic PHP system to a microservices architecture on
              Node, using Hapi and written in Typescript. We also re-implemented UIs in React and Vue.js. A couple
              services required Domain Driven Design, Event Sourcing and CQRS, others were simple REST APIs and one was
              implemented using GraphQL. It was a lot of work but also really fun!
            </p>
          </Experience>
          <Experience
            logo="Softo_logo.jpeg"
            role="Chief Software Architect and Engineering Manager"
            company="Softo"
            fromDate="mar de 2013"
            toDate="jan de 2014">
            <p>
              My first assignment at Sof.to was to define the entire development stack and strategy we would use. The
              result was a solid foundation which is used to solve very complex problems. It was based on Domain Driven
              Design, CQRS and Event Sourcing principles. We used C#.Net MVC and Web API on the backend; NHibernate and
              Entity Framework for persistence with a SQL Server database; Sass, TypeScript and Angular for the user
              interface.
            </p>
          </Experience>
          <Experience
            logo="Camiseteria_logo.jpeg"
            role="Software Architect"
            company="Camiseteria.com"
            fromDate="ago de 2010"
            toDate="fev de 2013">
            <p>
              I was hired to beat the challenge of single-handedly do in three weeks what the government had give a year
              for the companies to do: integrate the sales to a national database of electronic receipts. All went all
              and not even one sale was lost because we weren’t compliant with the new Brazilian law. The next big
              challenge was to change the entire development stack from a .Net 2.0 webpages setup to the current .Net
              4.5 MVC 4 following the Domain Driven Design. And do that without stopping the current demand for
              maintenance and new features. The benefit this change brought to company is hard to measure, but is
              certainly enormous in terms of productivity and developer happiness.
            </p>
          </Experience>
        </ul>
      </div>
    </div>
  </section>
</DefaultLayout>
