---
import '../assets/scss/aiChat.scss'
import FormAi from './FormAi.astro'
import Switcher from './Switcher.astro'
import Switcher2 from './Switcher2.astro'
---

<!--
  Updating a CSS variable based on an event
  let switcher = document.getElementById("switcher");
  let switcher2 = document.getElementById("switcher2");
  let root = document.documentElement;

  switcher.addEventListener("change", function (evt) {
    root.style.setProperty('--var-flow', evt.target.value);
  });

  switcher2.addEventListener("change", function (evt) {
    root.style.setProperty('--var-mode', evt.target.value);
  });
-->
<section class="py-24">
  <div class="center container text-center">
    <button id="chatBtn">
      <img src="/images/ia-button.svg" alt="Chat" />
    </button>
  </div>
  <div id="mychat" class="chat">
    <div class="chat-content">
      <div class="chat-msg mt-8 items-center rounded-lg px-3 py-2">
        <!-- Menssage -->
        <Switcher />
        <!-- Menssage -->
        <Switcher2 />
      </div>
      <FormAi />
    </div>
  </div>
  <script>
    // Pegando os elementos
    var chat = document.getElementById('mychat')
    var btn = document.getElementById('chatBtn')
    var span = document.getElementsByClassName('close')[0]

    // Quando o usuário clica no botão, abre o chat
    btn.onclick = function () {
      chat.style.display = 'block'
    }

    // Quando o usuário clica fora do chat, fecha ele
    window.onclick = function (event) {
      if (event.target == chat) {
        chat.style.display = 'none'
      }
    }
  </script>
</section>
