---
import IconLink from './IconLink.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <IconLink icon="line-md:github-loop" url="https://github.com/svallory/svallory.github.io" />
  <IconLink icon="line-md:twitter-x" url="https://twitter.com/svallory_en" />
  <IconLink icon="line-md:linkedin" url="https://www.linkedin.com/in/saulo-vallory" />
  <IconLink icon="line-md:discord" url="https://discordapp.com/users/svallory#8453" />

  <!-- discord -->
  <!--
    <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Starter Theme for <a href="https://astro.build/">Astro</a>. Made with ❤️ by <a
          href="https://github.com/markteekman">Mark Teekman</a
        >.
      </p>
    </div>
  </section>
   -->
</footer>
