---
import Navigation from '../components/Navigation.astro'
import FlyingMenu from '../components/FlyingMenu.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
---

<header class="mt-12">
  <SkipLinks />
  <!-- <div class="flex "> -->
  <Navigation>
    <li class="menu-item header-social-links">
      <a href="https://github.com/svallory/svallory.github.io" title="GitHub" class="social-icon">
        <Icon name="line-md:github-loop" style="width: 24px; height: 24px;" />
      </a>
      <a href="https://twitter.com/svallory_en" title="Twitter/X" class="social-icon">
        <Icon name="line-md:twitter-x" style="width: 24px; height: 24px;" />
      </a>
      <a href="https://www.linkedin.com/in/saulo-vallory" title="LinkedIn" class="social-icon">
        <Icon name="line-md:linkedin" style="width: 24px; height: 24px;" />
      </a>
      <a href="https://discordapp.com/users/svallory#8453" title="Discord" class="social-icon">
        <Icon name="line-md:discord" style="width: 24px; height: 24px;" />
      </a>
    </li>
    <li class="menu-item" style="font-weight: bold">
      <a href="/Saulo Vallory - Resume 2025.pdf" target="_blank" rel="noopener noreferrer">Download Resume</a>
    </li>
    <!-- <li class="menu-item">
      <a href="/about/">About</a>
    </li> -->
    <!--
      Example of menu item with a dropdown
      <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Example Pages</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/mdx-page/">MDX Page</a>
        </li>
        <li class="submenu-item">
          <a href="/markdown-page/">Markdown Page</a>
        </li>
        <li class="submenu-item">
          <a href="/accessible-components">Accessible Components</a>
        </li>
      </ul>
    </li> -->
    <!-- <li class="menu-item">
      <a href="/projects/" title="Projects" rel="external noopener noreferrer">Projects</a>
    </li> -->
    <!-- <li class="menu-item type-icon">
      <a href="https://github.com/markteekman/accessible-astro-starter" title="Go to the GitHub page">
        <Icon name="ion:logo-github" />
      </a>
    </li> -->
  </Navigation>
  <!-- </div> -->
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .header-social-links {
      display: flex;
      align-items: center;
      gap: 2rem;
      padding: 0.5rem 6rem 0.5rem 0;
      flex-direction: row;

      .social-icon {
        display: inline-flex;
        align-items: center;
        color: var(--neutral-600);
        text-decoration: none;

        &:visited {
          color: var(--neutral-600);
        }

        &:hover,
        &:focus {
          color: var(--neutral-800);
        }
      }
    }

    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
