---
import { Icon } from 'astro-icon/components'
import type { Icon as IconName } from "virtual:astro-icon";

interface Props {
  icon: IconName;
  url: string;
  size?: number;
}

const { icon, url, size=60 } = Astro.props
---

<a class="icon-link" href={url}>
  <Icon name={icon} class="inline-block social-icon" style={`width: ${size}; height: ${size};`} />
</a>