---
interface Props {
  stats: Record<string, string>
}

const { stats } = Astro.props
---

<div class="mx-auto max-w-7xl px-6 lg:px-8">
  <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
    <dl class="mt-16 grid grid-cols-1 gap-x-8 gap-y-12 sm:mt-20 sm:grid-cols-2 sm:gap-y-16 lg:mt-28">
      {
        Object.entries(stats).map(([label, value]) => (
          <div class="flex flex-col-reverse gap-y-3 border-l border-white/20 pl-6 sm:first-of-type:border-0">
            <dt class="text-lg leading-7 text-gray-300">{label}</dt>
            <dd class="text-4xl font-semibold tracking-tight text-white">{value}</dd>
          </div>
        ))
      }
    </dl>
  </div>
</div>
