---

---

<div id="switcher2" class="menssage-right mt-4 rounded-md bg-gray-900 p-4">
  <div class="flex">
    <div class="ml-3">
      <h3 class="name-chat mr-2 text-right text-sm font-medium">Jane Doe</h3>
      <div class="mt-2 text-sm text-white">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid pariatur, ipsum similique veniam.
        </p>
      </div>
    </div>
    <div class="flex-shrink-0">
      <img
        class="inline-block h-8 w-8 rounded-md"
        src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
        alt=""
      />
    </div>
  </div>
</div>