---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import GetInTouch from '../pages/sections/GetInTouch.astro'
import SectionHeader from '../components/headers/SectionHeader.astro'
import BaseLayout from './BaseLayout.astro'
---

<BaseLayout>
  <Header />
  <main id="main-content" transition:animate="fade">
    <slot />
  </main>

  <section>
    <div class="container">
      <Footer>
        <SectionHeader title="Get in Touch" />
        <GetInTouch />
      </Footer>
    </div>
  </section>
</BaseLayout>
